.product_array{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 97%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    margin: 0 2% 0 2%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;

}
.product_array::-webkit-scrollbar{
    display: none;
}