*{
    margin: 0;
    padding: 0;
}
.productHead{
    margin: 1% 0 0 0;
    font-size: 20px;
    color: white;
}
.newHr{
    width: 80%;
    margin: 1% 0 1.5% 0;
}

.listBox{
    display: flex;
    height: 30%;
    max-width: 81%;
    background-color: #c5c8d98c;
    border-radius: 15px;
}