
.product_array{
    
    max-width:100%;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 27%;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    
}

/* .product_array::-webkit-scrollbar{
    display: none;
} */