body{
  margin: 0;
  padding: 0;
  background-image: url(https://images.unsplash.com/photo-1566927655011-ff753156ae83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1634&q=80);
  background-size: cover;
  
}